.navbar {
    &__list {
        list-style-type: none;
    }
    &__item {
        display: inline;
    }
    &__link {
        text-decoration: none;
        color: $white;
        padding: 0 1.5rem;
    }
    &__link:hover {
        color: $secondary-dark;
        text-decoration: underline .2rem $secondary-dark;
        text-underline-offset: .5rem;
        transition: all .2s ease-out;
    }
    
}