/* Contacts Page*/
.contacts h2 {
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.contacts {
    height: 100vh;
}
.contacts p {
    text-align: center;
    font-size: 2rem;
}
.fa-at {
    color: $secondary-dark;
}
.fa-phone {
    color: $secondary-dark;
}