body {
    margin: 0;
    padding: 0;
    background-color: #292C35;
    font-family: verdana,sans-serif;
}
header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #17181D;
    color: #FCD9B8;
}
main {
    margin: 1rem;
    padding: 1rem;
}
h1 {
    color: #FCD9B8;
    padding-left: 1rem;
}
article p {
    color:#E09145;
    text-align: left;
}
article h2 {
    text-align: center;
    font-size: 30px;
    color: #FCD9B8;
}
article ul {
    color:#E09145
}
footer {
    color: #FCD9B8;
    font-size: 15px;
    text-align: center;
}


.main-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.main-navigation li {
    display: inline;
}
.main-navigation a {
    text-decoration: none;
    color: #FCD9B8;
    padding: 1rem;
}
.main-navigation a:hover {
    background: #E09145;
    color: #17181D;
}


.welcome {
    text-align: center; 
} 
.heavy-font {
    font-size: 90px;
    font-weight: bold;
}
.less {
    font-size: 15px;
}
.umf {
    font-size: 30px;
    padding-bottom: 10rem;
}
.glow {
    color: #17181D;
    text-shadow: 0 0 0px #fff,
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #E09145,
        0 0 30px #E09145,
        0 0 40px #E09145,
        0 0 55px #E09145,
        0 0 70px #E09145;
}



.gallery {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: .5rem;
}
.gallery img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  padding: 1rem;
}


.work-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}
.work-gallery li {
    flex-basis: 350px;
    list-style-type: none;
}
.work-gallery img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    vertical-align: middle;
    padding: 2rem;
}
.work-gallery a {
    text-decoration: none;
    padding: 1rem;
    color:#E09145;
}
.work-gallery a:hover {
    background: #E09145;
    color: #17181D;
}


.about-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #17181D;
    height: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 2rem;
}
.about-box img {
    filter: grayscale(80);
    width: 300px;
    height: 300px;
    object-fit: cover;
    float: right;
}
.text {
    padding: 1rem;
    float:left;
}

.right-side {
    float: right;
    width: 50%;
    height: 20rem;
}

.left-side {
    float:left;
    width: 50%;
    height: 20rem;
}