body {
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    font-family: verdana,sans-serif;
}
header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #293133;
    color: #8daba7;
}
main {
    margin: 1rem;
    padding: 1rem;
}
h1 {
    font-size: 30px;
    color: #f6f6f6;
    padding-left: 1rem;
}

article p {
    color: #293133;
    text-align: left;
}
article h2 {
    text-align: center;
    font-size: 40px;
    color: #bf5d39;
}
article ul {
    color: #293133
}
footer {
    color: #293133;
    font-size: 15px;
    text-align: center;
}


.main-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.main-navigation li {
    display: inline;
}
.main-navigation a {
    text-decoration: none;
    color: #8daba7;
    padding: 1rem;
}
.main-navigation a:hover {
    background: #8daba7;
    color: #293133;
    border-radius: 10%;
}


.welcome {
    text-align: center; 
    font-size: 90px;
    padding-bottom: 10rem;
    color:#293133
} 
.heavy-font {
    font-size: 90px;
    font-weight: bold;
}
.less {
    font-size: 15px;
}


.gallery {
    background-color: #f6f6f6;
    overflow: auto;
    white-space: nowrap;
    padding: .5rem;
}
.gallery img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  padding: 1rem;
}


.work-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.work-gallery a img {
    position:relative;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20%;
}
.work-gallery li {
    flex-basis: auto;
    list-style-type: none;
    display: flex;
    width: 300px;
    height: 300px;
}
.overlay {
    position: absolute;
    bottom: 0;
    width: 300px;
    height: 300px;
    border-radius: 20%;
    background: #29313360;
    color: #f6f6f6;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    opacity: 0;
}
.work-gallery li:hover .overlay {
    opacity: 1;
}

.about-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 2rem;
}
.about-box img {
    width: 300px;
    height: 300px;
    border-radius: 20%;
    object-fit: cover;
    float: right;
}
.text {
    padding: 1rem;
    float: left;
}

.right-side {
    float: right;
    width: 50%;
    height: 20rem;
}

.left-side {
    float:left;
    width: 50%;
    height: 20rem;
}