body {
    margin: 0;
    padding: 0;
    background-image: url(../images/world-map.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #fbf5e9;
    font-family: verdana,sans-serif;
}
header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #bbc2b3;
    color: #889486;
}
main {
    margin: 1rem;
    padding: 1rem;
}
h1 {
    color: #fbf5e9;
    padding-left: 1rem;
}

article p {
    color: #889486;
    text-align: left;
}
article h2 {
    text-align: center;
    font-size: 40px;
    color: #c37a67;
}
article ul {
    color:#c37a67
}
footer {
    color: #889486;
    font-size: 15px;
    text-align: center;
}


.main-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.main-navigation li {
    display: inline;
}
.main-navigation a {
    text-decoration: none;
    color: #889486;
    padding: 1rem;
}
.main-navigation a:hover {
    background: #889486;
    color: #fbf5e9;
}


.welcome {
    text-align: center; 
    font-size: 90px;
    padding-bottom: 10rem;
} 
.heavy-font {
    font-size: 90px;
    font-weight: bold;
}
.less {
    font-size: 15px;
}

.opac {
    background-color: #fbf5e999;
}

.gallery {
    background-color: #fbf5e9;
    overflow: auto;
    white-space: nowrap;
    padding: .5rem;
}
.gallery img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  padding: 1rem;
}


.work-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}
.work-gallery li {
    flex-basis: 350px;
    list-style-type: none;
}
.work-gallery img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    vertical-align: middle;
    padding: 2rem;
}
.work-gallery a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem;
    color: #c37a67;
}
.work-gallery a:hover {
    background: #c37a67;
    color: #fbf5e9;
}


.about-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 2rem;
}
.about-box img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    float: right;
}
.text {
    padding: 1rem;
    float:left;
}

.right-side {
    float: right;
    width: 50%;
    height: 20rem;
}

.left-side {
    float:left;
    width: 50%;
    height: 20rem;
}